
<style>

</style>
<header>
  <img src="../assets/logo.png" alt="Logo">
</header>
<main class="main">
  <div class="content">
    <div class="filtros">
      <p-dropdown [options]="opcionesFiltro" [(ngModel)]="filtroSelecionado" placeholder="Filtrar..."></p-dropdown> 
      <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="textoBusqueda" (input)="filtrar()">
      <button pButton label="Deshacer" (click)="deshacerFiltros()"></button>
    </div>
    <div class="lista-personajes">
      <div *ngFor="let personaje of personajesFiltrados">
        <app-tarjeta [character]="personaje" [imgSrc]="personaje.image"></app-tarjeta>
      </div>
    </div>
  </div>
</main>


<router-outlet />
